CYPRESS_BASE_URL=http://your-server-url:port/fuk/
CYPRESS_USER=your_admin_username
CYPRESS_PASSWORD=your_admin_password
CYPRESS_FIRST_USERNAME=Your Admin Display Name
CYPRESS_INVALID_USERNAME=invalid_user
CYPRESS_INVALID_PASSWORD=invalid_pass
CYPRESS_ADMIN_SQL_USERNAME=your_sql_inject_test_username
CYPRESS_SQL_PASSWORD_INJECT=' OR '1'='1
CYPRESS_ADMIN_USERNAME=your_admin_username
CYPRESS_ADMIN_NAME=Your Admin Display Name
CYPRESS_USER_1_USERNAME=your_user1_username
CYPRESS_USER_1_NAME=User 1 Display Name
CYPRESS_USER_2_USERNAME=your_user2_username
CYPRESS_USER_2_NAME=User 2 Display Name
CYPRESS_DIRECTOR_USERNAME=your_director_username
CYPRESS_DIRECTOR_NAME=Director Display Name
